.contact{
  padding:80px 10%;
  background:#FAF9F6;
}

.contact h2{
  text-align:center;
  font-size:42px;
  color:#0F3D2E;
}

.contact-subtitle{
  text-align:center;
  color:#666;
  margin:15px 0 50px;
}

.contact-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
}

.contact-info{
  background:#0F3D2E;
  color:white;
  padding:40px;
  border-radius:20px;
}

.contact-info h3{
  color:#D8C2A0;
  margin-bottom:25px;
}

.contact-info p{
  margin:18px 0;
}

.whatsapp-btn{
  display:inline-block;
  margin-top:30px;
  background:#25D366;
  color:white;
  text-decoration:none;
  padding:14px 30px;
  border-radius:40px;
  font-weight:bold;
}

.contact-form{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.contact-form input,
.contact-form textarea{
  padding:18px;
  border-radius:12px;
  border:1px solid #ddd;
  font-size:16px;
}

.contact-form button{
  background:#0F3D2E;
  color:white;
  border:none;
  padding:16px;
  border-radius:40px;
  cursor:pointer;
  font-size:17px;
  transition:.3s;
}

.contact-form button:hover{
  background:#D8C2A0;
  color:#0F3D2E;
}

@media(max-width:768px){
  .contact-container{
    grid-template-columns:1fr;
  }
}

.instagram-btn{
  display:inline-block;
  margin-top:15px;
  background:#E1306C;
  color:white;
  text-decoration:none;
  padding:14px 30px;
  border-radius:40px;
  font-weight:bold;
  transition:.3s;
}

.instagram-btn:hover{
  opacity:.9;
}