.floating-whatsapp{
    position:fixed;
    right:25px;
    bottom:25px;
    width:65px;
    height:65px;
    background:#25D366;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    font-size:32px;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
    z-index:9999;
    transition:.3s;
}

.floating-whatsapp:hover{
    transform:scale(1.1);
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}