.hero{

    position:relative;

    min-height:82vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:90px 20px;

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    overflow:hidden;

}

.hero::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        rgba(15,61,46,.45),
        rgba(15,61,46,.60)
    );

}

.hero-content{

    position:relative;

    z-index:2;

    max-width:820px;

    animation:fadeUp .9s ease;

}

/* Gold Line */

.hero-line{

    width:90px;

    height:4px;

    background:#D8C2A0;

    margin:0 auto 30px;

    border-radius:10px;

}

/* Heading */

.hero-content h1{

    font-size:58px;

    font-weight:800;

    line-height:1.15;

    color:white;

    margin-bottom:22px;

}

.hero-content h1 span{

    color:#D8C2A0;

}

/* Paragraph */

.hero-content p{

    max-width:700px;

    margin:auto;

    font-size:20px;

    line-height:1.9;

    color:#F5E8D5;

}

/* Buttons */

.hero-buttons{

    margin-top:45px;

    display:flex;

    justify-content:center;

    gap:18px;

}

.primary-btn,
.secondary-btn{

    display:inline-flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    padding:15px 34px;

    border-radius:50px;

    font-size:17px;

    font-weight:600;

    transition:.35s;

}

.primary-btn{

    background:#D8C2A0;

    color:#0F3D2E;

    box-shadow:0 12px 28px rgba(216,194,160,.35);

}

.secondary-btn{

    background:white;

    color:#0F3D2E;

}

.primary-btn:hover,
.secondary-btn:hover{

    transform:translateY(-5px);

    box-shadow:0 18px 35px rgba(0,0,0,.22);

}

/* Animation */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* Tablet */

@media(max-width:992px){

.hero-content h1{

    font-size:48px;

}

.hero-content p{

    font-size:18px;

}

}

/* Mobile */

@media(max-width:768px){

.hero{

    min-height:78vh;

    padding:80px 20px;

}

.hero-line{

    width:70px;

    margin-bottom:24px;

}

.hero-content h1{

    font-size:38px;

}

.hero-content p{

    font-size:17px;

}

.hero-buttons{

    flex-direction:column;

    align-items:center;

    gap:15px;

}

.primary-btn,
.secondary-btn{

    width:220px;

}

}