.why-choose{
    padding:80px 10%;
    background:#ffffff;
    text-align:center;
}

.why-choose h2{
    font-size:42px;
    color:#0F3D2E;
    margin-bottom:15px;
}

.why-subtitle{
    max-width:750px;
    margin:0 auto 50px;
    color:#666;
    font-size:18px;
    line-height:1.8;
}

.why-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.why-card{
    background:#FAF9F6;
    padding:35px 30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.why-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 35px rgba(0,0,0,.12);
}

.why-icon{
    font-size:55px;
    color:#0F3D2E;
    margin-bottom:20px;
}

.why-card h3{
    color:#0F3D2E;
    font-size:24px;
    margin-bottom:15px;
}

.why-card p{
    color:#666;
    line-height:1.8;
    font-size:16px;
}

@media (max-width:768px){

    .why-choose{
        padding:60px 20px;
    }

    .why-choose h2{
        font-size:34px;
    }

    .why-subtitle{
        font-size:16px;
        margin-bottom:35px;
    }

    .why-grid{
        grid-template-columns:1fr;
        gap:20px;
    }

    .why-card{
        padding:28px 22px;
    }

    .why-icon{
        font-size:46px;
    }

    .why-card h3{
        font-size:22px;
    }
}