.student-card{

background:white;

border-radius:28px;

padding:30px;

box-shadow:0 18px 45px rgba(0,0,0,.08);

transition:.35s;

text-align:center;

}

.student-card:hover{

transform:translateY(-8px);

}

.student-card img{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

border:5px solid #C8A96A;

margin-bottom:20px;

}

.student-card h2{

color:#0F3D2E;

margin-bottom:5px;

}

.student-card p{

color:#777;

margin-bottom:20px;

}

.student-info{

display:flex;

flex-direction:column;

gap:12px;

margin-bottom:25px;

text-align:left;

}

.student-info span{

display:flex;

gap:10px;

align-items:center;

}

.student-card button{

width:100%;

padding:15px;

border:none;

background:#0F3D2E;

color:white;

border-radius:12px;

cursor:pointer;

font-weight:600;

}

.student-card button:hover{

background:#C8A96A;

color:#0F3D2E;

}