.coursePlayer{
display:grid;
grid-template-columns:320px 1fr;
height:100vh;
background:#f5f7fb;
}

.courseSidebar{
background:white;
padding:30px;
overflow:auto;
border-right:1px solid #ececec;
}

.courseSidebar h2{
color:#0F3D2E;
margin-bottom:30px;
}

.progressBox{
background:#F8F9FC;
padding:20px;
border-radius:18px;
margin-bottom:30px;
}

.progressBar{
height:10px;
background:#ddd;
border-radius:20px;
margin:15px 0;
overflow:hidden;
}

.progressFill{
width:35%;
height:100%;
background:#0F3D2E;
}

.chapter{
margin-bottom:25px;
}

.chapter h3{
margin-bottom:15px;
color:#333;
}

.lessonItem{
display:flex;
align-items:center;
gap:12px;
padding:12px;
border-radius:12px;
cursor:pointer;
transition:.3s;
}

.lessonItem:hover{
background:#F5F7FA;
}

.lessonItem svg{
color:#0F3D2E;
}

.done{
color:#16a34a!important;
}

.lessonViewer{
padding:40px;
overflow:auto;
}

.fakeVideo{
height:450px;
border-radius:25px;
background:#0F3D2E;
display:flex;
justify-content:center;
align-items:center;
font-size:42px;
font-weight:bold;
color:white;
margin-bottom:30px;
}

.lessonViewer h1{
color:#0F3D2E;
margin-bottom:20px;
}

.lessonViewer p{
line-height:1.9;
font-size:17px;
color:#555;
margin-bottom:35px;
}

.lessonResources{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.lessonResources button{
padding:15px 25px;
border:none;
border-radius:14px;
background:#0F3D2E;
color:white;
cursor:pointer;
display:flex;
align-items:center;
gap:10px;
font-weight:600;
transition:.3s;
}

.lessonResources button:hover{
transform:translateY(-3px);
background:#165540;
}

@media(max-width:900px){

.coursePlayer{
grid-template-columns:1fr;
}

.courseSidebar{
height:auto;
border-right:none;
border-bottom:1px solid #ececec;
}

.fakeVideo{
height:250px;
font-size:28px;
}

.lessonViewer{
padding:20px;
}

}