.profile-avatar-card{

background:white;

padding:35px;

border-radius:30px;

text-align:center;

box-shadow:0 20px 45px rgba(0,0,0,.08);

margin-bottom:35px;

}

.avatar-label{

cursor:pointer;

display:inline-block;

}

.profile-avatar{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

border:6px solid #C8A96A;

transition:.35s;

}

.profile-avatar:hover{

transform:scale(1.05);

}

.profile-avatar-card h2{

margin-top:20px;

color:#0F3D2E;

}

.profile-avatar-card p{

color:#777;

margin-bottom:20px;

}

.profile-avatar-card button{

background:#0F3D2E;

color:white;

padding:14px 30px;

border:none;

border-radius:12px;

cursor:pointer;

font-weight:600;

transition:.3s;

}

.profile-avatar-card button:hover{

background:#C8A96A;

color:#0F3D2E;

}