.profile-card{

background:linear-gradient(180deg,#0F3D2E,#123C31);

border-radius:30px;

padding:35px;

color:white;

box-shadow:0 25px 60px rgba(15,61,46,.35);

position:sticky;

top:30px;

}

.profile-top{

display:flex;

justify-content:center;

position:relative;

margin-bottom:20px;

}

.profile-top img{

width:150px;

height:150px;

border-radius:50%;

object-fit:cover;

border:6px solid #C8A96A;

}

.online-status{

position:absolute;

bottom:10px;

right:20px;

background:white;

color:#0F3D2E;

padding:8px 14px;

border-radius:30px;

font-size:13px;

font-weight:600;

display:flex;

align-items:center;

gap:8px;

}

.online-status svg{

color:#22C55E;

font-size:10px;

}

.profile-card h2{

margin-top:20px;

font-size:30px;

text-align:center;

}

.profile-card p{

text-align:center;

color:#E8DCC0;

margin-bottom:30px;

}

.profile-info{

display:flex;

flex-direction:column;

gap:18px;

}

.profile-info div{

display:flex;

align-items:center;

gap:15px;

padding:18px;

background:rgba(255,255,255,.08);

border-radius:18px;

backdrop-filter:blur(15px);

}

.profile-info svg{

color:#C8A96A;

font-size:18px;

min-width:20px;

}

.profile-info span{

font-size:15px;

word-break:break-word;

}