.stats-card{

background:rgba(255,255,255,.72);

backdrop-filter:blur(18px);

-webkit-backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.35);

border-radius:26px;

padding:28px;

transition:.35s;

box-shadow:0 15px 40px rgba(0,0,0,.06);

cursor:pointer;
}

.stats-card:hover{

transform:translateY(-8px);

box-shadow:0 25px 55px rgba(15,61,46,.15);
}

.stats-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;
}

.stats-icon{

width:65px;

height:65px;

border-radius:20px;

display:flex;

justify-content:center;

align-items:center;

background:#0F3D2E;

color:white;

font-size:26px;
}

.stats-card h2{

font-size:46px;

color:#0F3D2E;

margin-bottom:10px;
}

.stats-card h3{

font-size:21px;

margin-bottom:8px;

color:#222;
}

.stats-card p{

color:#777;

font-size:15px;
}